/*styling for home page*/

*
{
  box-sizing:border-box;
  margin:0;
  padding:0;  
}
body{
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("bg-final.jpg");
   height:100vh;
   background-repeat: no-repeat;
   width:100%;
   background-size:100% 100%;
   opacity:0.8;
   background-position: right;
   font-family: Arial, Helvetica, sans-serif; 
   background-color :black;
}

.para
{
  color:white;
  width:400px;
  height:200px;
  position:absolute;
  top:36%;
  left:8%;
  font-size:30px;
  line-height: 40px;
  font-family: 'Josefin Sans', sans-serif;
}
.main
{
  position:absolute;
  top:25%;
  left:6%;
  color:#F0E68C;
  padding:20px 20px;
  
}
img{
  width:150px;
  height:150px;
}
header{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding:0 10%;
  position:fixed;
  width:100%;
  height:100px;
}
.logo
{
  cursor:pointer;
  margin-right: auto;
}
.links li,a
{
  font-family:cursive;
  font-weight:500;
  font-size:16px;
  color:#C5B358;
  text-decoration: none;
  list-style: none; 
}
button{
  font-family:cursive;
  font-weight:500;
  font-size:16px;
  color:#C5B358;
  text-decoration: none;
  list-style: none;
}
.links
{
  list-style: none;
}
.links li{
  display:inline-block;
  padding:0 20px;
  
}
.links li a{
  transition: ease 0.6s;
}
.links li a:hover{
  color:black;
  background-color:#C5B358;
  padding:10px 23px;
  border:none;
  border-radius:24px;
  text-decoration: none;
}
button
{
  margin-left: 20px;
  padding:9px 23px;
  background-color:#C5B358;
  border:none;
  border-radius: 24px;
  cursor: pointer;
  transition:all 0.3s ease 0s;
  color:black;
}
button:hover{
  background-color:#D4AF37;
  color:black;
}
.content1
{
  position:absolute;
  top:76%;
  left:9.3%;
  
}
.btn
{
  font-size:16px;
  padding:10px 23px;
  border:1px solid #C5B358;
  border-radius:24px;

}
.content2
{
  position:absolute;
  top:76%;
  left:20%;
  
}

.content1 a:hover{
  color:black;
  background-color:#C5B358;
  border-bottom: 1px solid ;
  padding:10px 23px;
  border:none;
  border-radius:24px;
}
.content2 a:hover{
  color:black;
  background-color:#C5B358;
  border-bottom: 1px solid ;
  padding:10px 23px;
  border:none;
  border-radius:24px;
}
.active
{
    border-bottom:1px solid gold;
    
    padding:9px 23px;

}








